@charset "UTF-8";

.chattingbox{
	border: 3px solid #f9f9f9;
	
}
.enter_title{
	
	border-bottom: 3px solid #f9f9f9;
	text-align: center;
	padding : 10%;
}

.img{
	margin-left:5%;
}

.btnbox span{
	
	font-size: 3px;
}

.contentbox{
	height: 700px;
	background-color: #b2c7d9;
	overflow-y:scroll; 
	/*div 내 내용이 div 세로 길이보다 커지면 스크롤 생성*/
}
.secontent{ /* 보낼 때 */
	text-align: right;
	margin:10px;
	
}
.secontent .content{
	background-color: yellow;	

}

.recontent{ /* 받을 때 */
	text-align: left;
	margin:10px;
}

.content{
	background-color: #ffffff;
	border-radius : 10px;
	padding : 10px;
	display:inline-block;
	font-size: 15px;
}

.date{
	font-size: 1px; margin : 5px 2px;
	
}
/*  알람  */
.alarm{
	background-color: #a9bdce;
	text-align: center;
	font-size : 10px;
	padding: 2%;
	margin: 0 auto; /* div 가운데 배치 */
	width: 70%
	
}
/* 부트스트랩 css 충돌*/
/*    적용 우선순위 : !important > id > class > tag > *   */
.sendbtn{
	background-color: #ffeb33 !important; 
}









